
.left {
	float: left;
}

.clear {
	clear: both
}

html {
	height: 100%;
}

body {
	height: 100%;
	background-color: #FCFCFC;
	color: #45280A;
	font-family: Verdana, sans-serif;
}

h1, h2, h3 {
	font-family: Georgia, serif;
}

h3 {
	font-size: 1.5em;
}

#wrapper {
	background-image: url(bg.jpg);
	width: 800px;
	margin: 0 auto;
	min-height: 100%;
}

#wrapper header {
	padding-top: 10px;
}

#main {
	padding-top: 20px;
	margin-bottom: 20px;
}

#headLeft, #headRight {
	margin: 0 10px;
}

#headLeft {
	width: 180px;
}

header h1 {
	font-size: 4.5em;
	color: #76BF49;
	text-shadow: #8E8983 -1px -1px;
}

header h2 {
	font-size: 1.8em;
	color: #C85D1C;
}

#share {
	margin-top: 10px;
	height: 25px;
}

#plusone,
#like,
#twitter {
	float: left;
	margin-right: 10px;
	width: 135px;
}

#next {
	margin: 0 10px 10px;
}

#mainLeft, #mainRight {
	margin: 10px;
}

#tweet, #flickr {
	margin: 0 10px 10px;
}

#mainLeft, #tweet {
	width: 460px;
}

#mainRight, #flickr {
	width: 300px;
}

#mainLeft p {
	margin-bottom: 10px;
	font-size: 1.1em
}

.socialLink a {
}

.socialLink a.sprites {
	display: block;
	width: 30px;
	height: 30px;
	margin-bottom: 13px;
}

.socialLink a.text {
	display: block;
	color: #45280A;
	text-decoration: none;
	font-size: 0.9em;
	font-weight: bold;
	padding: 14px 0 0 15px;
}

.socialLink p {
	margin: 14px 0 0 15px;
}

a#facebookIcon {
	background: url(icons.png) -60px 0;
}

a#twitterIcon {
	background: url(icons.png) -60px -30px;
}

a#xingIcon {
	background: url(icons.png) -30px 0;
}

a#mixxtIcon {
	background: url(icons.png) 0 -30px;
}

a#flickrIcon {
	background: url(icons.png) -30px -30px;
}

a#slideshare {
	background: url(icons.png) 0 0;
}

a#webmontagIcon {
	background: url(icons.png) -90px 0;
}

#tweet h3,
#flickr h3,
#echoes h3 {
	margin: 20px 0 10px;
}

#tweet .tweet {
	font-family: Verdana, sans-serif;
	font-size: .9em;
}

#tweet .tweet_list, #tweet .tweet_even {
	background-color: transparent;
}

#flickr a {
	margin: 5px;
}

#echoes {
	margin: 10px;
}

#echoes li {
	padding: 5px;
}

@media screen and (max-width: 800px) {
	#wrapper {
		width: 520px;
	}

	header h1 {
		font-size: 4em;
	}

	#mainLeft, #mainRight,
	#tweet, #flickr {
		float: none;
		margin-bottom: 20px;
	}
}
